*{
    font-family: "Google Sans",sans-serif;
    font-weight: 600;
}
html{
    background-color: rgb(206, 206, 248);
}
.App{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}